[package]
name = "rust-lox"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.101"
clap = { version = "4.5.58", features = ["derive"] }
derive_more = { version = "2.1.1", features = ["display"] }
